@using PruebasRazor.Models
@model List<MarcaCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Agregar", "Agregar", "Marca", null, new { @class = "btn btn-primary" })

@using (Html.BeginForm("Index", "Marca", FormMethod.Post))
{

    @Html.Label("Ingrese nombre de la marca")
    @Html.TextBox("nombre")
    <input type="submit" class="btn btn-success" value="Enviar" />

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td width="33%">@Html.LabelFor(p => Model[0].iidmarca)</td>
                <td width="33%">@Html.LabelFor(p => Model[0].nombre)</td>
                <td width="33%">@Html.LabelFor(p => Model[0].descripcion)</td>
                <td>Operaciones</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.iidmarca</td>
                    <td>@item.nombre</td>
                    <td>@item.descripcion</td>
                    <td>
                        @Html.ActionLink(" ", "Editar", "Marca", new { id = @item.iidmarca }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                        <button type="button" onclick="mostrarPopup(@item.iidmarca)" class="glyphicon glyphicon-trash btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@using (Html.BeginForm("Eliminar", "Marca", FormMethod.Post, new { @id = "frmMarca" }))
{
    @Html.Hidden("txtIdMarca")
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Guardar Cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                <button type="button" onclick="Aceptar()" class="btn btn-primary">ACEPTAR</button>
            </div>
        </div>
    </div>
</div>

<script>
    function mostrarPopup(idMarca) {
        document.getElementById("txtIdMarca").value = idMarca;
    }
    function Aceptar() {
        var frmMarca = document.getElementById("frmMarca");
        frmMarca.submit();
    }
</script>