@using PruebasRazor.Models
@model List<SucursalCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Agregar", "Agregar", "Sucursal", null, new { @class = "btn btn-primary" })
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidsucursal)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].telefono)</td>
            <td>@Html.LabelFor(p => Model[0].email)</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iidsucursal</td>
                <td>@item.nombre</td>
                <td>@item.telefono</td>
                <td>@item.email</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Sucursal", new { id = @item.iidsucursal }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                    <button type="button" onclick="mostrarPopup(@item.iidsucursal)" class="glyphicon glyphicon-trash btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("Eliminar", "Sucursal", FormMethod.Post, new { @id = "frmSucursal" }))
{
    @Html.Hidden("txtIdSucursal")
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Guardar Cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                <button type="button" onclick="Aceptar()" class="btn btn-primary">ACEPTAR</button>
            </div>
        </div>
    </div>
</div>

<script>
    function mostrarPopup(idSucursal) {
        document.getElementById("txtIdSucursal").value = idSucursal;
    }
    function Aceptar() {
        var frmSucursal = document.getElementById("frmSucursal");
        frmSucursal.submit();
    }
</script>